{% extends "base.html" %}

{% block content %}
    <h1>Logbook</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(size=4) }}<br>
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.depth.label }}<br>
            {{ form.depth(size=5) }}<br>
            {% for error in form.depth.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.depth.label }}<br>
            {{ form.depth(size=6) }}<br>
            {% for error in form.depth.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.temperature.label }}<br>
            {{ form.temperature(size=6) }}<br>
            {% for error in form.temperature.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

